@media (min-width: 769px) {
  
  .logo-title {
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }

  .logo {
    width: 140px;
  }

  header h1 {
    font-size: 3rem;
  }

  header p {
    font-size: 1.2rem;
  }

  section {
    padding: 20px;
  }

  .page-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background: none;
    padding: 0;
  }

  .hamburger {
    display: none;
  }

  /* ✅ cards desktop */
  .cards,
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* tablet */
@media (min-width: 481px) {
  .cards,
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
``